<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head><title>About</title></head>
<body>
<main layout:fragment="content">

    <section class="section">
        <div class="sec-head">
            <h2>About</h2>
        </div>
        <div class="about-inner">
            <div class="about-text">
                <h3>cheongcel</h3>
                <p>그림 그리고, 굿즈 만들고, 배당금 모으는 사람이에요.<br>
                내가 만든 것들을 한 곳에 모았어요.</p>
                <div class="about-tags">
                    <span class="atag">Artist</span>
                    <span class="atag">Backend Developer</span>
                    <span class="atag">Dividend Investor</span>
                    <span class="atag">Goods Creator</span>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>
